:root {
    --main_dark: #285430;
    --text_light: #E5D9B6;
    --secondary: #A4BE7B;
}

.navbar {
    background-color: var(--main_dark);
}

.nav-link {
    color: var(--text_light);
}

.navbar-text {
    color: var(--text_light);
}

.container-fluid {
    background-color: var(--main_dark);
}

.btn {
    color: var(--text_light);
    background-color: var(--main_dark);
    border-color: var(--main_dark);
}

.container {
    padding-top: 100px;
}

h1 {
    margin-bottom: 30px;
}

#centered {
    text-align: center;
}

.d-grid {
    padding-top: 50px;
}
.gameInfo {
     font-size: 32px;
    color: var(--main_dark);
  display: flex;
  justify-content: space-between;
}

.gameInfo p:first-child {
  text-align: left;
}

.gameInfo p:nth-child(2) {
  text-align: center;
    font-size: 36px;
}

.gameInfo p:last-child {
  text-align: right;
}

#nextGame{
    text-align: center;
    font-size: 32px;
    color: var(--main_dark);
}
.gameNav {
    display: flex;
  justify-content: space-between;
}

/*.gameNav button:first-child {*/
/*  justify-self: flex-start;*/
/*}*/

/*!*.gameNav button:nth-child(2) {*!*/
/*!*  text-align: center;*!*/
/*!*}*!*/

.gameNav button:last-child {
  margin-left: auto;
}




