{% extends 'main/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %} Home {% endblock %}
{% block content %}


    <div>
        <p id="roundCount"> </p>
        <p id="locationName"></p>
        <p id="currScore"> </p>
        <p id="nextGame" ></p>
    </div>

    <div id="map" style="height: 600px;"></div>
    <script src="{% static 'game.js' %}"></script>
    <div style="justify-content: center;">
        <button  id="game_submit" type="submit" class="btn btn-success" onclick="onSubmitClick()" >Zatwierdź</button>
        <button  id="next_map" type="submit" class="btn btn-success" onclick="onNextClick()" >Następny</button>
        <button  id="new_game" type="submit" class="btn btn-success" onclick="onNewGame()" >Nowa gra</button>
    </div>

{% endblock %}