{% extends 'main/base.html' %}
{% block title %} Home {% endblock %}
{% block content %}
    <h1 class="text-justify" id="centered">GeoGame</h1>
    {#    {% if user.is_authenticated %}#}
    {#        <span class="navbar-text">Witaj {{ user.username }}</span>#}
    {#    {% endif %}#}



    <p class="text-justify"> GeoGame to geograficzna gra. Twoim zadaniem będzie odnalezienie na mapie zadanej
        lokalizacji. Im bliżej poprawnej lokalizacji będziesz, ty więcej punktów uzyskasz. Aby rozpocząć grę musisz
        posiadać konto. Załóż nowe konto lub zaloguj się.</p>

    <p class="text-justify" id='centered'> Miłej gry! </p>
    <div class="d-grid gap-2">
        <a href="/sign-up" class="btn btn-primary btn-lg" role="button">Zarejestruj się</a>
        <a href="/login" class="btn btn-primary btn-lg" role="button">Zaloguj się</a>
    </div>


{% endblock %}