{% extends 'main/base.html' %}
{% block title %} Mój profil {% endblock %}
{% block content %}
<h1 style="text-align: center">Mój profil</h1>
    <p id="nameHeader">Witaj {{ user.username }}, oto twoje statystyki</p>
    <div class="userInfo">
    <div>Liczba gier {{ games_count }}</div>
    <div>Liczba punktów {{ score_count.score__sum }}</div>
    <div>Wynik ostatniej gry {{ last_game.score }} z {{ last_game.played_at }}</div>
    </div>
    <p id="nameHeader">Tutaj znajduje się lista twoich gier</p>
    <table class="table table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Wynik</th>
            <th scope="col">Data</th>
        </tr>
        </thead>
        <tbody>
        {% for game in my_games %}
            <tr class="rankRows">
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ game.score }}</td>
                <td>{{ game.played_at }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}