{% extends 'main/base.html' %}
{% block title %} Ranking {% endblock %}
{% block content %}
    <h1 style="color: var(--main_dark); text-align: center">Ranking</h1>
    <table id="ranking" class="table ">
        <thead>
        <tr>
            <th scope="col">Poz.</th>
            <th scope="col">Gracz</th>
            <th scope="col">Wynik</th>
            <th scope="col">Data</th>
        </tr>
        </thead>
        <tbody>
        {% for game in games %}

            <tr class="rankRows">
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ game.player }}</td>
                <td>{{ game.max_score }}</td>
                <td>{{ game.played_at }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
